 $vitesse    : .5s;

 @mixin coulissante_a_gauche($vitesse) {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    /* Already working on webkit */
    -webkit-transition-property: padding-left;
    -webkit-transition-duration: $vitesse;
    -webkit-transition-timing-function: ease-out;
    /* When being supported by FF */
    -moz-transition-property: padding-left;
    -moz-transition-duration: $vitesse;
    -moz-transition-timing-function: ease-out;
    /* … and if it's standardised one day (#optimism) */
    transition-property: padding-left;
    transition-duration: $vitesse;
    transition-timing-function: ease-out;
    }

  body {
    margin: 50px;
    background: #000;
    color: #fff;
    font: 1em "lucida grande",arial;
    }

ul {
    margin: 0;
    padding: 0;
    list-style:none;
    }

#menu>li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background:#333;
    color: #fff;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

li ul {
    font-size: 0.85em;
    margin: 8px;
    line-height: 1.4;
    }

img {
    @include coulissante_a_gauche($vitesse);
    // position: absolute;
    // left: 0;
    // top: 0;
    // border: none;
    /* Already working on webkit */
    // -webkit-transition-property: padding-left;
    // -webkit-transition-duration: .5s;
    // -webkit-transition-timing-function: ease-out;
    /* When being supported by FF */
    // -moz-transition-property: padding-left;
    // -moz-transition-duration: .5s;
    //v-moz-transition-timing-function: ease-out;
    /* … and if it's standardised one day (#optimism) */
    // transition-property: padding-left;
    //vtransition-duration: .5s;
    // transition-timing-function: ease-out;
    }

img:hover, img:focus {padding-left:140px;}

a {
    color:#fff;
    text-decoration:none;
}
