@charset "utf-8";
/*  reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,            {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;}
/* Rendre compatible les balises html5 pour les aciennes versions de ie */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
ol, ul 							{list-style: none;}
table 							{border-collapse: collapse;border-spacing: 0;}

h1                              {font-size:28px; padding:10px; margin:10px; font-weight:normal;}
label                           {display: block; width: 100px; float: left;}

.facultatif                     {color: #4A5FC2;}
.obliga                         {color: #610b38;}
#conteneur						{display: block; width:500px; margin:auto;}
